* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "General Sans", sans-serif;
}

body {
  background: #fdf6eb;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: space-center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.text-decoration-none {
  text-decoration: none;
}

.flex-wrap {
  flex-wrap: wrap;
}
