.logos-section {
  background-color: white;
  padding: 4rem 0;
}

.logos-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5rem 0;
}

.logos-wrapper > img {
  width: 50%;
}
