* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* Theme Variables */
[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #0f172a;
  --heading-color: #444444;
  --layout-bg: #f5f5f5;
  --border-bottom: 1px solid rgb(217, 217, 217);
  --border-color: 1px solid rgb(217, 217, 217);
  --table-th: #ededed;
  --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  --sign-in-up: #f4f4f4;
  --sign-in-up-text-color: lightgray;
  --disabled-bg: #f4f4f4;
  --disabled-border: 1px solid #d9d9d9;
  --disabled-text: #afafaf;
}

[data-theme="dark"] {
  // --bg-color: #0f172a;
  --bg-color: #001122;
  --text-color: #bdc1c6;
  --heading-color: #dddddd;
  --layout-bg: #0f172a;
  --border-bottom: 1px solid #555555;
  --border-color: 1px solid #555555;
  --table-th: #374151;
  --box-shadow: 0 0 0 1px rgb(255 255 255 / 10%);
  --sign-in-up: #001122;
  --sign-in-up-text-color: lightgray;
  --disabled-bg: #374151;
  --disabled-border: 1px solid #575757;
  --disabled-text: #888888;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-y: scroll;
  scrollbar-gutter: stable !important;
}

.light-dark-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1rem;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.px-5 {
  padding-left: 1.25rem; /* 20px */
  padding-right: 1.25rem; /* 20px */
}

.m-4 {
  margin: 1rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.width-full {
  width: 100%;
}

.font-medium {
  font-weight: 500;
}

.text-decoration-none {
  text-decoration: none;
}

#root {
  position: relative;
  display: flex;
}

// main {
//   // padding-left: 250px;
//   width: 100%;
// }

// .main-content {
//   padding-top: 75px;
//   padding-left: 250px;
// }

/* .box-shadow {
  border: 1px solid #282825 !important;
  box-shadow: 3px 3px 0 0 #282825 !important;
}

.sidebar-box-shadow {
  box-shadow: 3px 3px 0 0 #282825 !important;
} */

.box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.demo-logo-vertical {
  display: flex;
  align-items: center;
  margin: 1rem;
  transition: all 0.3s ease-in-out !important;
}

.logo-name {
  font-family: "SF Mono", monospace;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1;
}

:where(.css-apn68).ant-layout.ant-layout-has-sider > .ant-layout,
:where(.css-apn68).ant-layout.ant-layout-has-sider > .ant-layout-content {
  background: var(--layout-bg) !important;
}

:where(.css-dev-only-do-not-override-apn68).ant-layout-sider {
  box-shadow: var(--box-shadow) !important;
}

:where(.css-dev-only-do-not-override-apn68).ant-layout {
  background: var(--layout-bg) !important;
}

/* Ant Header */

.ant-layout-header {
  background: var(--bg-color) !important;
  color: var(--text-color) !important;
  border-bottom: var(--border-bottom) !important;
}

.anticon > svg {
  color: var(--text-color) !important;
}

/* Ant TransactionList Table */

:where(.css-dev-only-do-not-override-apn68).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-apn68).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  background: var(--table-th) !important;
  border-bottom: var(--border-bottom) !important;
  color: var(--text-color) !important;
}
.ant-table-thead > tr > {
  background: var(--table-th) !important;
}

:where(.css-apn68).ant-table-wrapper .ant-table-tbody > tr > th,
:where(.css-apn68).ant-table-wrapper .ant-table-tbody > tr > td {
  background: var(--table-th) !important;
  border-bottom: var(--border-bottom) !important;
  color: var(--text-color) !important;
}

:where(.css-dev-only-do-not-override-apn68).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border-bottom: var(--border-bottom) !important;
}

:where(.css-dev-only-do-not-override-apn68).ant-pagination
  .ant-pagination-item {
  border: 1px solid var(--border-color) !important;
  background: var(--layout-bg) !important;
  color: var(--text-color) !important;
}

:where(.css-dev-only-do-not-override-apn68).ant-pagination
  .ant-pagination-item
  a {
  color: var(--text-color);
}

:where(.css-dev-only-do-not-override-apn68).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-apn68).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  font-family: "SF Mono", monospace;
  font-weight: bold;
}

:where(.css-dev-only-do-not-override-apn68).ant-table-wrapper
  .ant-table-column-title {
  font-family: "SF Mono", monospace;
  font-weight: bold;
}

:where(.css-dev-only-do-not-override-apn68).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
:where(.css-dev-only-do-not-override-apn68).ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  background-color: #778899 !important;
}
